# sec filings
edgartools
# sec filings
edgartools

pyyaml 
tqdm
# sec filings
edgartools
# sec filings
edgartools

pyyaml 
tqdm

# table summarization
groq
tiktoken

# text splitting (NEW - for testing LangChain chunker)
langchain
langchain-text-splitters

dotenv
wikipedia-api
newspaper3k
lxml_html_clean
Levenshtein
fuzzywuzzy
